version: "3.9"

services:
  app:
    build:
      context: ./app
    container_name: regreffe-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}

