version: "3.9"

services:
  db:
    image: postgres:15
    container_name: regreffe-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: regreffe
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  app:
    build:
      context: ./app
    container_name: regreffe-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/regreffe"
    depends_on:
      - db
    volumes:
      - ./app:/app

