services:
  db:
    image: postgres:15
    container_name: regreffe-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: regreffe
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: regreffe-pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.test
      PGADMIN_DEFAULT_PASSWORD: adminpass
    ports:
      - "5050:80"
    depends_on:
      - db

  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: regreffe-web
    restart: unless-stopped
    env_file:
      - ./app/.env
    depends_on:
      - db
    ports:
      - "3000:3000"

